* {
    padding: 0;
    margin: 0;
}

header {
    background-image: url(billeder/splash.jpg);
    background-size: cover;
}

/*---- FONTS ----*/

/* font-family: 'Poppins', sans-serif; */

article .fisk {
    height: 200px;
    object-fit: cover;
}

article .bobbel h1 {
    font-family: 'Poppins', sans-serif;
    margin-left: 1vw;
}

h1 {
    text-align: center;
}

h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-bottom: 1vw;
    padding-top: 1vw;
    text-shadow: 3px 3px 10px #0202c1;
    font-size: 1.2rem;
}

header h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-bottom: 1vw;
    padding-top: 1vw;
    text-shadow: 3px 3px 10px #0202c1;
    font-size: 2rem;
}

h3 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

a:hover {
    border: solid 1px black;
}

#section_two nav {
    font-family: 'Poppins', sans-serif;
    padding-top: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* background-color: black;*/
    position: inherit;
    width: 100%;
}

#menuknap {
    cursor: pointer;
    font-size: 3em;
    padding-right: 10px;
    padding-top: 10px;
    text-align: right;
}

#menuknap:hover {
    color: #5F0909;
}

#menu {
    list-style-type: none;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: right;

}

.hidden {
    display: none;
    transform: scale(0);
}

main {}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left 10px;
}


#section_two {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 20px;
    grid-row-gap: 20px;
    margin: 0 auto;
}

article {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.filtrering {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 10px 0px 10px 0px;


}

.filtrering button {
    margin-left: 10px;
    margin-right: 10px;
}


@media only screen and (min-width: 800px) {
    #menuknap {
        display: none;
    }

    #menu {
        transform: translateX(0);
        display: flex;
        position: inherit;
        justify-content: flex-end;
        /*position: web-kit;*/
        top: 0;
        flex-direction: row;

    }

    #menu a {
        padding: 0px 5px 0px 5px;
    }


}
