* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}


/*---- FONTS ----*/

h1 {
    text-align: center;
    color: white;
    text-shadow: none;
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 2rem;
    top: 35vh;
}

h2 {
    text-align: center;
    padding-bottom: 1vw;
    padding-top: 1vw;
    font-size: 1.2rem;
}

h3 {}

p {}

.navn {
    position: relative;
    top: -60px;
    background-color: white;

}

/* font-family: 'Poppins', sans-serif; */



/* ----- Header ----- */
header {
    background-image: url(billeder/splash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 80vh
}

#section_header {
    display: flex;
    position: relative;

}

#logo {
    width: 15rem;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.04rem;
    font-size: 1.4rem;
    line-height: 3rem;
}

header #menu a:last-child {
    border: 3px solid #FEB835;
    position: relative;
    padding: 7px;

}


#menu {
    list-style-type: none;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: right;
    text-align: right;
    position: absolute;
    right: 2rem;
    top: 5rem;

}

.hidden {
    display: none;
    transform: scale(0);
}


#menuknap {
    cursor: pointer;
    font-size: 3em;
    height: 4rem;
    width: 4rem;
    top: 1rem;
    right: 1rem;
    color: white;
    z-index: 1;
    float: right;
    position: absolute;
}

#section_one h2 {
    opacity: 0.2;
    color: #106b6e;
    text-transform: uppercase;
    font-size: 8rem;
    text-align: left;
    position: relative;
    top: -30px;
    line-height: 1;

}





/* ----- section 2 -------*/

article .bobbel h2 {
    margin-left: 1vw;
}

article:hover {
    cursor: pointer;
}

#section_two nav {
    font-family: 'Poppins', sans-serif;
    padding-top: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* background-color: black;*/
    position: inherit;
    width: 100%;

}

button {
    border: none;
    background: none;
    cursor: pointer;
}


#section_two {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 20px;
    grid-row-gap: 20px;
    margin: 0 auto;


}

article {
    display: flex;
    flex-direction: column;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    top: -100px;
    align-items: center;
    position: relative;
}

.filtrering {
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 10px 0px 10px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
    margin-top: 20px;


}

.filtrering button {
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid #FEB835;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: 'Poppins', sans-serif;

}

.bobbel {}

.valgt .stillehavet {
    color: red;
}

/* ------- footer ------ */




/* ----- Style for Desktop ------ */

@media only screen and (min-width: 800px) {

    h1 {
        top: 25vh;
        font-size: 4rem;
        line-height: 4rem;
    }

    b {
        letter-spacing: -0.6rem;
    }

    #menuknap {
        display: none;
    }

    #menu {
        transform: translateX(0);
        display: flex;
        position: inherit;
        justify-content: flex-end;
        /*position: web-kit;*/
        top: 0;
        flex-direction: row;
        z-index: 1;

    }

    header #menu a:last-child {
        top: -10px;
        margin-left: 0.5rem;

    }

    #menu a {
        padding: 0px 10px 0px 10px;
        width: auto;
        font-size: 1rem;
        line-height: inherit;
    }

    #menu a:hover {
        opacity: 0.7;
    }

    header {
        height: 110vh;
    }



    header nav {
        position: absolute;
        width: auto;
        height: auto;
        top: inherit;
        right: inherit;
        display: flex;
        justify-content: flex-end;
        right: 0;
        width: 100%;
        top: 2rem;
    }

    .filtrering {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 85%;
    }

    .filtrering button {
        border-left: 3px solid #FEB835;
        border-bottom: none;
        border-top: none;
        border-right: none;
        text-align: center;
        margin-right: 0;
        margin-left: 0;
        font-size: 0.95rem;

    }

    .filtrering button:last-child {
        border-right: 3px solid #FEB835;

    }

    article {
        position: relative;
    }

    #section_two {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    #section_one h2 {

        font-size: 15vw;
        line-height: 1;
        margin-left: 10px;
        text-align: left;
        position: relative;

    }







}
